.container-fluid{
    margin-top: 2%;
    padding: 2%;
    /* background: lightblue; */
}

#invoiceHead{
    color: rebeccapurple;
    font-family: 'Book Antiqua';
    display: inline-block;
}

img{
    height: 140px;
    float: left;
}

#title{
    margin-left: 2%;
    float: right;
}

table{
    color: black;
    font-size: 13px;
}

#invoiceTitle{
    text-align: left;
    margin-left: 15%;
    margin-top: 10%;
    float: left;
}

#invoiceDate{
    text-align: right;
    margin-top: 2.5%;
    float: right;
}

hr{
    height: 2px;
    border: none;
    background: black;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: powderblue; 
 }


#particulars{
    border-style: none;
}

#QR{
    height: 200px;
}

#forName{
    font-family: 'Book Antiqua';
}

#sign{
    font-family: cursive;
    margin-left: 20%;
}